# Dependencies
node_modules/
.npm

# Build output
dist/
tmp/
out-tsc/

# Tauri
desktop/src-tauri/target/

# Angular
.angular/

# Capacitor
mobile/android/.gradle/
mobile/android/app/build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
*.local

# Wrangler
.wrangler/
.dev.vars

# Nx
.nx/cache
.nx/workspace-data
desktop/e2e/artifacts/*


.angular
attic/desktop-thin-client/e2e/artifacts/*
web/e2e/__screenshots__/*
